<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>发起流程</string>
		<key>image</key>
		<string>icon_new</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发送邮件</string>
		<key>image</key>
		<string>icon_email</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通讯录</string>
		<key>image</key>
		<string>icon_txl</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扫一扫</string>
		<key>image</key>
		<string>icon_code</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文件中心</string>
		<key>image</key>
		<string>icon_files</string>
	</dict>
	<dict>
		<key>title</key>
		<string>语音识别</string>
		<key>image</key>
		<string>icon_sound</string>
	</dict>
	<dict>
		<key>title</key>
		<string>去向登记</string>
		<key>image</key>
		<string>icon_location</string>
	</dict>
    <dict>
        <key>title</key>
        <string>工作反馈</string>
        <key>image</key>
        <string>icon_location</string>
    </dict>
</array>
</plist>
