<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>发起流程</string>
		<key>image</key>
		<string>icon_new</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发送邮件</string>
		<key>image</key>
		<string>icon_email</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通讯录</string>
		<key>image</key>
		<string>icon_txl</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扫一扫</string>
		<key>image</key>
		<string>icon_code</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文件中心</string>
		<key>image</key>
		<string>icon_files</string>
	</dict>
	<dict>
		<key>title</key>
		<string>语音识别</string>
		<key>image</key>
		<string>icon_sound</string>
	</dict>
	<dict>
		<key>title</key>
		<string>去向登记</string>
		<key>image</key>
		<string>icon_location</string>
	</dict>
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>丽人</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_beautyCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>休闲娱乐</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_entertainmentCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>今日新单</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_dailyNewDealCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>购物</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_shoppingCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>生活服务</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_lifeServiceCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>旅游</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_travellingCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>足疗按摩</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_foottreatCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>小吃快餐</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_fastfoodCategory</string>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>title</key>-->
<!--		<string>全部分类</string>-->
<!--		<key>image</key>-->
<!--		<string>icon_homepage_moreCategory</string>-->
<!--	</dict>-->
</array>
</plist>
